.create-new-page {
    background: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);
    border: 0;
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top:10%;
  }

.gutter-box {
    padding: 5px 0;
}

.edit-title {
    color: aliceblue;
}